/*NAVIGATION BAR*/
header{
    font-family: "Montserrat", sans-serif;
    z-index: 1000;
    background-color: #002032;
    position: fixed; /*header will not move*/
    width: 100%;
    display: flex; /*puts logo, nav, hamburger in a line*/
    justify-content: space-between; /*makes space between logo, nav, toggle*/
    height: 70px;
    align-items: center; /*makes logo, nav links, toggle come horizontally to center*/ 
}

#logo img{
    height: 30px;
    margin-left: 30px;
}

nav .webpages{
    display: flex;
    margin-right: 17px; /*so about us webpage name will not touch window*/
                       /*17pz ltr we add 13 padding altogther 30px*/
    gap: 40px;
}

nav .webpages li{
    list-style-type: none;
    }

nav .webpages li a{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 13px; /*for hover effect*/
    align-items: center;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.webpages a:active, .webpages a:hover{
    background: #083951;
    transition: .5s;
}

.hamburger-toggle{
    display: none;   /*to not show the toggle till needed*/
    cursor: pointer;
}

.hamburger-toggle div{
    width: 30px;
    height: 4px;
    margin: 5px;
    margin-right: 30px;
    border-radius: 2px;
    background-color: #ffffff;
}

@media screen and (max-width:1100px) {
    nav ul{
        position: fixed;
        background-color: #002032;
        flex-direction: column;
        top: 70px;
        right: -35%; /*to get vertical menu out of screen 17pix margin is 2%*/
        width: 30%;
        height: 91vh;
        align-items: center; /*center vertically*/
        justify-content: center; /*center horizontally*/
        justify-content: space-around; /*equal space vertically*/
        transition: all .5s ease 0s;
    }

    .hamburger-toggle{
        display: block;
    }
    .nav-active{
        right: -17px; /*to get vertical menu back* 17pix*/
    }
}

@media screen and (max-width:1100px) and (max-height:560px){
    nav ul{
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom-left-radius: 20px; 
        border-bottom-right-radius: 20px;
        justify-content: unset; /*equal space vertically*/
    }
}

@media screen and (max-width:1100px) and (max-height:400px){
    nav .webpages li a{
        transition: 1s;
        font-size: 3vh;
        padding: 1vh 1.7vh; /*for hover effect*/
        border-radius: 3px;
    }
}

@media screen and (max-width:1100px) and (max-height:380px){
    nav .webpages{
        transition: 1s;
        gap: 20px;
    }
}

@media screen and (max-width:1100px) and (max-height:340px){
    nav .webpages li a{
        transition: 1s;
        font-size: 10px;
        padding: 1vh 1.7vh; /*for hover effect*/
        border-radius: 3px;
    }
}
/*END OF NAVIGATION BAR*/



/*START OF FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 160px;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 170px;
    text-align: center;
}
.images,
.connector{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.footer-image{
    width: 200px;
    height: auto;
    left: 500px;
}
.student{
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    top: 150px;
    left: -65px;
}
.connector{
    position: relative;
    top: -120px;
    margin-left: 440px;
}
.connector p{
    margin-right: 10px;
}
.creator{
    margin-top: 15px;
    position: relative;
    top: 150px;
    left: -65px; 
}

/*END OF FOOTER*/